
$primary-background: #1F1F1F;

@mixin flex-container($justify-content) {
  display: flex;
  justify-content: $justify-content;
}

@mixin height-and-width($height, $width){
  height: $height;
  width: $width;
}

@mixin header-button($margin-left, $margin-right) {
  background-position: center;
  background-size: 5.6vw;
  border: none;
  display: inline;
  height: 5.6vw;
  margin-left: $margin-left;
  margin-right: $margin-right;
  margin-top: 1.6vw;
  width: 5.6vw;
}

@mixin card-container($background-color, $grid-area) {
  background-color: $background-color;
  grid-area: $grid-area;
  margin: 0.5vw;
}