@import 'base';

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: $primary-background;
}

header {
  text-align: center;
  height: 9vw;
  position: relative;
}

button:active {
  border: none;
}

#profile-button {
  background-image: url("../images/profile.png");
  @include header-button(10vw, 0.5vw);
}

#add-data-button {
  background-image: url("../images/plus.png");
  @include header-button(1vw, 10vw);
}

.data-inputs {
  display: flex;
  flex-direction: column;
  z-index: 200;
}

.top-section {
  @extend .data-inputs;
  z-index: 200;
  align-items: center;
}

.date-input {
  @include height-and-width(25px, 300px);
  margin: 2% 0;
}

.dropdown-sleep {
  @extend .data-inputs;
  background-color: $sleep-color;
  border-color: red 2px solid;
  display: flex;
  align-items: center;
}

.title-p {
  justify-content: center;
}

.data-title {
  size: 5em;
}

.dropdown-activity {
  @extend .data-inputs;
  background-color: $steps-color;
  display: flex;
  align-items: center;
}

.dropdown-hydration {
  @extend .data-inputs;
  background-color: $hydration-color;
  display: flex;
  align-items: center;
}

.dropdown-p {
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 1vw;
  padding-top: 0;
  text-align: center;
  width: 100%;
}

.white {
  color: white;
}

.black {
  color: black;
}

.dropdown-category {
  @extend .dropdown-p;
  font-weight: 500;
  font-size: 2em;
  color: black;
}

.data-input-field {
  @include flex-container(center);
  @include height-and-width(25px, 60px);
  margin-bottom: 2%;
}

.add-button {
  @include height-and-width(25px, 120px);
  margin-bottom: 2%;
}
/* TEXT ELEMENTS */
h1 {
  color: #fff;
  display: inline;
  font-size: 5.4vw;
  letter-spacing: 0.2em;
}

h4 {
  font-size: 6vw;
}

.card-data-line {
  @include flex-container(center);
  flex-direction: column;
  align-items: center;
}

.main-card-top-row {
  @include flex-container(space-between);
  align-items: center;
  width: 100%;
}

.main-card-bottom-row {
  text-align: center;
  width: 100%;
}

#steps-card-container {
  @include card-container($steps-color, steps);
}

#hydration-card-container {
  @include card-container($hydration-color, hydration);
}

#stairs-card-container {
  @include card-container($stairs-color, stairs);

}

#sleep-card-container {
  @include card-container($sleep-color, sleep);
}

.hydration-data-line {
  @include flex-container(center);
  margin-bottom: 0.2vw;
}

// BACKGROUND-IMAGES 
.steps-go-back-button {
  background-image: url("../images/steps-goback.png");
}

.steps-info-button {
  background-image: url("../images/steps-info.png");
}

.steps-friends-button {
  background-image: url("../images/steps-friends.png");
}

.steps-calendar-button {
  background-image: url("../images/steps-calendar.png");
}

.hydration-go-back-button {
  background-image: url("../images/hydration-goback.png");
}

.hydration-info-button {
  background-image: url("../images/hydration-info.png");
}

.hydration-friends-button {
  background-image: url("../images/hydration-friends.png");
}

.hydration-calendar-button {
  background-image: url("../images/hydration-calendar.png");
}

.stairs-go-back-button {
  background-image: url("../images/stairs-goback.png");
}

.stairs-info-button {
  background-image: url("../images/stairs-info.png");
}

.stairs-friends-button {
  background-image: url("../images/stairs-friends.png");
}

.stairs-calendar-button {
  background-image: url("../images/stairs-calendar.png");
}

.sleep-go-back-button {
  background-image: url("../images/sleep-goback.png");
}

.sleep-info-button {
  background-image: url("../images/sleep-info.png");
}

.sleep-friends-button {
  background-image: url("../images/sleep-friends.png");
}

.sleep-calendar-button {
  background-image: url("../images/sleep-calendar.png");
}

.steps-trending-button {
  background-image: url("../images/steps-trending.png");
}

.stairs-trending-button {
  background-image: url("../images/stairs-trending.png");
}

.green-text {
  color: $green-text;
}

.red-text {
  color: $red-text;
}

.yellow-text {
  color: $yellow-text;
}
/* MEDIA QUERIES */
@media screen and (min-width: 769px) {
  // RULES FOR DESKTOP SCREENS
  main {
    @include desktop-main;
  }

  h2 {
    font-size: 7vw;
    letter-spacing: 0.1em;
  }

  h3 {
    @include card-headers(3vw);
  }

  h5 {
    @include dropdown-header(1.8vw);
  }

  #user-info-dropdown {
    @include dropdown-menus(60%, 0, relative);
  }

  #add-data-dropdown {
    @include dropdown-menus(0, 60%, absolute);
    width: 30%;
  }

  .dropdown-p {
    @include paragraph-text(1.2vw);
  }

  .user-data-p {
    font-size: 2vw;
  }

  .main-card {
    @include main-card-styling(20vw);
  }

  .hydration-weekly-label {
    font-size: 1vw;
    padding-top: 1vw;
  }

  .hydration-weekly-amount {
    font-size: 2vw;
  }

  .trend-line {
    @include trendline-styling(2vw, 20vw);
  }

  .info-button {
    @include button-styling-desktop(1vw, 0);
    display: inline;
  }

  .friends-button {
    @include button-styling-desktop(0, 1vw);
    display: inline;
  }

  .calendar-button {
    @include button-styling-desktop(0, 1vw);
    display: inline;
    float: right;
  }

  .trending-button {
    @include button-styling-desktop(1vw, 0);
  }

  .go-back-button {
    @include button-styling-desktop(1vw, 0);
  }
  .hide {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  // RULES FOR TABLET SCREENS
  main {
    @include tablet-phone-main;
  }

  h2 {
    font-size: 10vw;
    letter-spacing: 0.1em;
  }

  h3 {
    @include card-headers(5vw);
  }

  h5 {
    @include dropdown-header(4vw);
  }

  .dropdown-p {
    @include paragraph-text(3.5vw);
  }

  #user-info-dropdown {
    @include dropdown-menus(40%, 0, relative);
  }

  #add-data-dropdown {
    @include dropdown-menus(0, 60%, absolute);
    width: 80%;
  }

  .user-data-p {
    font-size: 4.5vw;
  }

  .main-card {
    @include main-card-styling(35vw);
    width: 100%;
  }

  .hydration-weekly-label {
    font-size: 4vw;
  }

  .hydration-weekly-amount {
    font-size: 4vw;
  }

  .trend-line {
    @include trendline-styling(5vw, 55vw);
  }

  .info-button {
    @include button-styling-tablet-phone(1vw, 0);
    display: inline;
  }

  .friends-button {
    @include button-styling-tablet-phone(0, 1vw);
    display: inline;
  }

  .calendar-button {
    @include button-styling-tablet-phone(0, 1vw);
    display: inline;
  }

  .trending-button {
    @include button-styling-tablet-phone(1vw, 0);
  }

  .go-back-button {
    @include button-styling-tablet-phone(1vw, 0);
  }
  .hide {
    display: none;
  }
}
@media screen and (max-width: 414px) {
  // RULES FOR PHONE SCREENS
  .main-card {
    @include main-card-styling(45vw);
    width: 100%;
  }
  .hide {
    display: none;
  }
}
