*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #1F1F1F;
}

/* HEADER */
header {
  text-align: center;
  height: 9vw;
  position: relative;
}

button:active {
  border: none;
}

#profile-button {
  background-image: url("../images/profile.png");
  background-position: center;
  background-size: 5.6vw;
  border: none;
  display: inline;
  height: 5.6vw;
  margin-right: 0.5vw;
  margin-left: 10vw;
  margin-top: 1.6vw;
  width: 5.6vw;
}

#add-data-button {
  background-image: url("../images/plus.png");
  background-position: center;
  background-size: 5.6vw;
  border: none;
  display: inline;
  height: 5.6vw;
  margin-left: 1vw;
  margin-right: 10vw;
  margin-top: 1.6vw;
  width: 5.6vw;
}

.data-inputs {
  display: flex;
  flex-direction: column;
  z-index: 200;
}

.top-section {
  @extend .data-inputs;
  z-index: 200;
  align-items: center;
}

.date-input {
  width: 300px;
  height: 25px;
  margin: 2% 0;
}

.dropdown-sleep {
  @extend .data-inputs;
  background-color: #FBD089;
  border-color: red 2px solid;
  display: flex;
  align-items: center;
}

.title-p {
  justify-content: center;
}

.data-title {
  size: 5em;
}

.dropdown-activity {
  @extend .data-inputs;
  background-color: #F5634B;
  display: flex;
  align-items: center;
}

.dropdown-hydration {
  @extend .data-inputs;
  background-color: #54C6BE;
  display: flex;
  align-items: center;
}

.dropdown-p {
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 1vw;
  padding-top: 0;
  text-align: center;
  width: 100%;
}

.white {
  color: white;
}

.black {
  color: black;
}

.dropdown-category {
  @extend .dropdown-p;
  font-weight: 500;
  font-size: 2em;
  color: black;
}

.data-input-field {
  display: flex;
  justify-content: center;
  height: 25px;
  width: 60px;
  margin-bottom: 2%;
}

.add-activity-button-js {
  width: 120px;
  height: 25px;
  margin-bottom: 2%;
}
/* TEXT ELEMENTS */
h1 {
  color: #fff;
  display: inline;
  font-size: 5.4vw;
  letter-spacing: 0.2em;
}

h4 {
  font-size: 6vw;
}

.card-data-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-card-top-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-card-bottom-row {
  text-align: center;
  width: 100%;
}

#steps-card-container {
  background-color: #F5634B;
  grid-area: steps;
  margin: 0.5vw;
}

#hydration-card-container {
  background-color: #54C6BE;
  grid-area: hydration;
  margin: 0.5vw;
}

#stairs-card-container {
  background-color: #8975B2;
  grid-area: stairs;
  margin: 0.5vw;
}

#sleep-card-container {
  background-color: #FBD089;
  grid-area: sleep;
  margin: 0.5vw;
}

.hydration-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: 0.2vw;
}

.steps-go-back-button {
  background-image: url("../images/steps-goback.png");
}

.steps-info-button {
  background-image: url("../images/steps-info.png");
}

.steps-friends-button {
  background-image: url("../images/steps-friends.png");
}

.steps-calendar-button {
  background-image: url("../images/steps-calendar.png");
}

.hydration-go-back-button {
  background-image: url("../images/hydration-goback.png");
}

.hydration-info-button {
  background-image: url("../images/hydration-info.png");
}

.hydration-friends-button {
  background-image: url("../images/hydration-friends.png");
}

.hydration-calendar-button {
  background-image: url("../images/hydration-calendar.png");
}

.stairs-go-back-button {
  background-image: url("../images/stairs-goback.png");
}

.stairs-info-button {
  background-image: url("../images/stairs-info.png");
}

.stairs-friends-button {
  background-image: url("../images/stairs-friends.png");
}

.stairs-calendar-button {
  background-image: url("../images/stairs-calendar.png");
}

.sleep-go-back-button {
  background-image: url("../images/sleep-goback.png");
}

.sleep-info-button {
  background-image: url("../images/sleep-info.png");
}

.sleep-friends-button {
  background-image: url("../images/sleep-friends.png");
}

.sleep-calendar-button {
  background-image: url("../images/sleep-calendar.png");
}

.steps-trending-button {
  background-image: url("../images/steps-trending.png");
}

.stairs-trending-button {
  background-image: url("../images/stairs-trending.png");
}
// CHANGING CLASSES

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.yellow-text {
  color: #F8BA00;
}
/* MEDIA QUERIES */
@media screen and (min-width: 769px) {
  // RULES FOR DESKTOP SCREENS
  main {
    display: grid;
    grid-template-areas: 'steps hydration' 'stairs sleep';
    height: 100%;
  }

  h2 {
    font-size: 7vw;
    letter-spacing: 0.1em;
  }

  h3 {
    display: inline;
    font-family: 'Work Sans', sans-serif;
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: 0.2em;
  }

  h5 {
    font-size: 1.8vw;
    padding-bottom: 1vw;
    text-align: center;
  }

  #user-info-dropdown {
    background-color: #1F1F1F;
    color: white;
    margin-left: 60%;
    margin-top: -1.2%;
    position: relative;
    text-align: center;
    z-index: 100;
  }

  #add-data-dropdown {
    background-color: #1F1F1F;
    color: white;
    margin-right: 60%;
    margin-top: -1.2%;
    text-align: center;
    position: absolute;
    width: 40%;
    z-index: 200;
  }

  .dropdown-p {
    font-size: 1.2vw;
    font-weight: 300;
    padding-bottom: 1vw;
    padding-top: 0;
    text-align: center;
    width: 100%;
  }

  .user-data-p {
    font-size: 2vw;
  }

  .main-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20vw;
    justify-content: center;
  }

  .hydration-weekly-label {
    font-size: 1vw;
    padding-top: 1vw;
  }

  .hydration-weekly-amount {
    font-size: 2vw;
  }

  .trend-line {
    font-size: 2vw;
    text-align: center;
    width: 20vw;
  }

  .info-button {
    background-position: center;
    background-size: 3.4vw;
    border: none;
    display: inline;
    height: 3.4vw;
    margin-left: 1vw;
    width: 3.4vw;
  }

  .friends-button {
    background-position: center;
    background-size: 3.4vw;
    border: none;
    display: inline;
    height: 3.4vw;
    margin-right: 1vw;
    width: 3.4vw;
  }

  .calendar-button {
    background-position: center;
    background-size: 3.4vw;
    border: none;
    display: inline;
    float: right;
    height: 3.4vw;
    margin-right: 1vw;
    width: 3.4vw;
  }

  .trending-button {
    background-position: center;
    background-size: 3.4vw;
    border: none;
    height: 3.4vw;
    margin-left: 1vw;
    width: 3.4vw;
  }

  .go-back-button {
    background-position: center;
    background-size: 3.4vw;
    border: none;
    height: 3.4vw;
    margin-left: 1vw;
    width: 3.4vw;
  }
  .hide {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  // RULES FOR TABLET SCREENS
  main {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 10vw;
    letter-spacing: 0.1em;
  }

  h3 {
    display: inline;
    font-family: 'Work Sans', sans-serif;
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: 0.2em;
  }

  h5 {
    font-size: 4vw;
    padding-bottom: 1vw;
    text-align: center;
  }

  .dropdown-p {
    font-size: 3.5vw;
    font-weight: 300;
    padding-bottom: 1vw;
    padding-top: 0;
    text-align: center;
    width: 100%;
  }

  #user-info-dropdown {
    background-color: #1F1F1F;
    color: white;
    margin-left: 40%;
    margin-top: -1.2%;
    position: relative;
    text-align: center;
    z-index: 100;
  }

  .user-data-p {
    font-size: 4.5vw;
  }

  .main-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 35vw;
    width: 100%;
    justify-content: center;
  }

  .hydration-weekly-label {
    font-size: 4vw;
  }

  .hydration-weekly-amount {
    font-size: 4vw;
  }

  .trend-line {
    font-size: 5vw;
    text-align: center;
    width: 55vw;
  }

  .info-button {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    display: inline;
    height: 8vw;
    margin-left: 1vw;
    width: 8vw;
  }

  .friends-button {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    display: inline;
    height: 8vw;
    margin-right: 1vw;
    width: 8vw;
  }

  .calendar-button {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    display: inline;
    float: right;
    height: 8vw;
    margin-right: 1vw;
    width: 8vw;
  }

  .trending-button {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    height: 8vw;
    margin-left: 1vw;
    width: 8vw;
  }

  .go-back-button {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    height: 8vw;
    margin-left: 1vw;
    width: 8vw;
  }
  .hide {
    display: none;
  }
}
@media screen and (max-width: 414px) {
  // RULES FOR PHONE SCREENS
  .main-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 45vw;
    width: 100%;
    justify-content: center;
  }
  .hide {
    display: none;
  }
}
